[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[template.environment]
  REACT_APP_API_URL = "Your backend API URL"
  REACT_APP_GOOGLE_CLIENT_ID = "Your Google OAuth Client ID"